<%-include("../partials/header.ejs")%>
<div class="container" style="margin-top: 20px;">
    <h3 style="text-align: center;">Editing : <%=camp.name%></h3>
    <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="POST" style="width: 50%; margin:0 auto;">
        <div class="form-group">
            <p>Name:</p>
            <input class="form-control" type="text" name="campground[name]" value="<%=camp.name%>">
        </div>
        <div class="form-group">
            <p>URL:</p>
            <input class="form-control" type="text" name="campground[img]" value="<%=camp.img%>">
        </div>
        <div class="form-group">
            <p>Description:</p>
            <textarea rows="5" class="form-control" name="campground[discription]">
                <%=camp.discription%>
            </textarea>
        </div>
        <button class="btn btn-lg btn-block btn-primary">Submit!</button>
        <a href="/campgrounds">Go Back!</a>
    </form>
</div>