<%-include("../partials/header.ejs")%>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <h3>YelpCamp</h3>
            <ul class="list-group">
                <li class="list-group-item active">
                    Info 1
                </li>
                <li class="list-group-item">
                    Info 2
                </li>
                <li class="list-group-item">
                    Info 3
                </li>

            </ul>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                    <img class="card-img-top" src="<%=camp.img%>" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-text text-muted m-0" style="text-align: right;">Rs900/night</h6>
                        <a href=""><h5 class="card-title"><%=camp.name%></h5></a>
                        <p class="card-text"><%=camp.discription%></p>
                        <p class="card-text"><small class="text-muted">Submmited By: <%=camp.user.username%></small></p>
                        <%if(currentUser&&camp.user.id.equals(currentUser._id)){%>
                        <div class=" d-flex align-items-center justify-content-between">
                                <span>
                                    <a class="btn  btn-warning"href="/campgrounds/<%=camp._id%>/edit">Edit Post
                                    </a>
                                </span>
                                <span>
                                    <form method="POST" action="/campgrounds/<%=camp._id%>?_method=DELETE">
                                        <button class="btn  btn-danger">Delete Post
                                        </button>
                                    </form>
                                </span>
                        </div>
                        <%}%>
                    </div>       
            </div>
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <span class="text-lg-left"style="font-size: 20px">Comments</span><span><a class="btn  btn-primary"href="/campgrounds/<%=camp._id%>/comments/new">Add Comment!</a></span>
                </div>
                <div class="card-body">
                    <%camp.comments.forEach(function(comment){%>
                    <strong><p class="card-text"><%=comment.author.username%></p></strong>
                    <p class="card-text"><%=comment.text%></p>
                    <%if(currentUser&&comment.author.id.equals(currentUser._id)){%>
                    <div class="d-flex">
                    <a class="btn  btn-sm btn-warning mr-1"href="/campgrounds/<%=camp._id%>/comments/<%=comment._id%>/edit">Edit
                    </a>
                    <form method="POST" action="/campgrounds/<%=camp._id%>/comments/<%=comment._id%>?_method=DELETE">
                        <button class="btn  btn-danger btn-sm">Delete
                        </button>
                    </form>
                    </div>
                    <%}%>
                    <hr>
                    <%});%>
                </div>
            </div>
        </div>
    </div>
</div>
<%-include("../partials/footer.ejs")%>
